<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename = './css/feedBack.css')}}"/>

    <script src="../static/js/jquery-3.7.1.min.js"></script>
  </head>

  <body>
    <div id = "titleArea_feedback">Feedback Area</div>
    <div id = "historyShowArea_feedback">
      {%for key in initialFeedback%}
          <table class = "fbUnit">
            <tbody>
              <tr><td class = "fdPhoto">{{key['photo']}}</td><td class = "fdDetail">{{key['feedback']}}</td></tr>
              <tr></tr><td class = "fdID">{{key['user_ID']}}</td><td class = "fdDate">{{key['start_date']}} to {{key['start_date']}}</td></tr>
            </tbody>
          </table>            
      {%endfor%}

    </div>
    <div id = "roomShowArea_feedback"></div>
    <div id = "editArea_feedback">

        {% block content %}
          {% if allowFeedbackBool == 1 %}
            <table id = "editAreaGroup">
              <tbody>
                <tr><td id = "editAreaGroup_photo"></td><td id = "editAreaGroup_detail"><input id = "editBox_feedback" placeholder = "Please type your feedback..."/></td></tr>
                <tr></tr><td id = "editAreaGroup_id">{{allowFeedback[1]}}</td><td id = "editAreaGroup_order">{{allowFeedback[2]}} : {{allowFeedback[3]}} to {{allowFeedback[4]}}</td></tr>
              </tbody>
            </table>          
          {% else %}
            <table id = "editAreaGroup">
              <tbody>
                <tr><td id = "editAreaGroup_photo"></td><td id = "editAreaGroup_detail"><input id = "editBox_feedback" placeholder = "There is no order for feedback" disabled/></td></tr>
                <tr></tr><td id = "editAreaGroup_id"></td><td id = "editAreaGroup_order"></td></tr>
              </tbody>
            </table>           
          {% endif %}
        {% endblock content %}
        
    </div>



    <script type = "text/javascript">
      var urlPath = "http://127.0.0.1:5000";
      //JS method>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      // const historyShowArea_feedback = document.getElementById('historyShowArea_feedback');

      // historyShowArea_feedback.addEventListener('scroll', (e) => {
      //   const scrollableHeight = historyShowArea_feedback.scrollHeight - historyShowArea_feedback.clientHeight;
      //   if(historyShowArea_feedback.scrollTop >= scrollableHeight-2){  // -2 is for moving the error casued by CSS
      //     let currentChildrenNum = historyShowArea_feedback.children.length;
          
      //   }
      // })
      //<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

      //jQuery method>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      const historyShowArea_feedback = $("#historyShowArea_feedback");
      historyShowArea_feedback.scroll(function() {
        // console.log(historyShowArea_feedback.height(), historyShowArea_feedback.scrollTop(), historyShowArea_feedback[0].scrollHeight);
        if(historyShowArea_feedback.height() + historyShowArea_feedback.scrollTop() >= historyShowArea_feedback[0].scrollHeight-2){
          let currentCount_fb = historyShowArea_feedback.find("table").length  //find the number of the specific tag
          // let currentCount_fb = $("#historyShowArea_feedback table").length  //find the number of the specific tag
          console.log(currentCount_fb);
        }
      })
      //<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


    </script>

  </body>
</html>
